<td-layout>
    <td-navigation-drawer flex sidenavTitle="AngularStarter" backgroundUrl="{{backgroundImage}}" logo="assets:teradata" name="Hans Muster" email="hans.muster@company.com">
        <navigation></navigation>
    </td-navigation-drawer>

    <td-layout-nav logo="assets:teradata" toolbarTitle="Angular Starter Template" navigationRoute="/">
        <button md-icon-button td-menu-button tdLayoutToggle>
            <md-icon>menu</md-icon>
        </button>
        <div class="content">
            <router-outlet>

            </router-outlet>
        </div>
    </td-layout-nav>

</td-layout>