<td-layout>
    <td-navigation-drawer flex sidenavTitle="Covalent" logo="assets:teradata" name="Firstname Lastname" email="firstname.lastname@company.com">
        <md-nav-list>
            <a md-list-item>
                <md-icon>home</md-icon>Home
            </a>
        </md-nav-list>
        <div td-navigation-drawer-menu>
            <md-nav-list>
                <a md-list-item>
                    <md-icon>account_box</md-icon>Profile
                </a>
            </md-nav-list>
        </div>
    </td-navigation-drawer>

    <td-layout-nav logo="assets:teradata" toolbarTitle="Covalent" navigationRoute="/">
        <button md-icon-button td-menu-button tdLayoutToggle>
            <md-icon>menu</md-icon>
        </button>
        Content goes here
    </td-layout-nav>
    
</td-layout>