<td-layout>
    <td-navigation-drawer flex sidenavTitle="Covalent" logo="assets:teradata" name="Firstname Lastname" email="firstname.lastname@company.com">

        <navigation-list></navigation-list>

        <div td-navigation-drawer-menu>
            <md-nav-list>
                <a md-list-item>
                    <md-icon>account_box</md-icon>Profile
                </a>
            </md-nav-list>
        </div>

    </td-navigation-drawer>
    <td-layout-nav-list logo="assets:teradata" toolbarTitle="Covalent" navigationRoute="/" opened="true" mode="side">
        <button md-icon-button td-menu-button tdLayoutToggle>
                <md-icon>menu</md-icon>
            </button>
        <div td-sidenav-content>
            <ng-content select="[sidebar]"></ng-content>
        </div>
        <div td-toolbar-content>
            <button md-button tdLayoutNavListToggle>
                Toggle
            </button>
        </div>
        <main>
            <ng-content select="[content]"></ng-content>
        </main>

    </td-layout-nav-list>
</td-layout>