<md-sidenav-container fullscreen>
    <md-toolbar class="z-depth-2" color="primary">

        <button md-icon-button (click)="sidenav.toggle()">
            <md-icon class="md-24" >menu</md-icon>
        </button>

        <span class="fill-remaining-space"></span>
        
        <!--Right side of toolbar-->
        <ng-content style="float: right" select="[toolbar-actions]"></ng-content>

    </md-toolbar>
    <md-sidenav mode="side" opened="true" #sidenav id="sidenav">
        <md-toolbar class="z-depth-2" color=primary>
            <ng-content select="[title]"></ng-content>
        </md-toolbar>
        <div class="title">
            <h3>
                <ng-content select="[logo]"></ng-content>
                <ng-content select="[title]"></ng-content>
            </h3>
        </div>
        <md-divider></md-divider>
        <navigation-user></navigation-user>

        <md-divider></md-divider>
        
        <navigation-list> </navigation-list>

        <div class="fill-remaining-space-y"></div>

    </md-sidenav>
    <div>
        <main>
            <ng-content select="[content]"></ng-content>
        </main>
    </div>
</md-sidenav-container>