<div class="example-container mat-elevation-z8">
    <md-table #table [dataSource]="dataSource">

        <ng-container mdColumnDef="number">
            <md-header-cell *mdHeaderCellDef> Number </md-header-cell>
            <md-cell *mdCellDef="let element"> {{element.number}} </md-cell>
        </ng-container>

        <ng-container mdColumnDef="vendorNumber">
            <md-header-cell *mdHeaderCellDef> Vendor Number </md-header-cell>
            <md-cell *mdCellDef="let element"> {{element.venderNumber}} </md-cell>
        </ng-container>

        <ng-container mdColumnDef="name">
            <md-header-cell *mdHeaderCellDef> Name </md-header-cell>
            <md-cell *mdCellDef="let element"> {{element.name}} </md-cell>
        </ng-container>

        <ng-container mdColumnDef="price">
            <md-header-cell *mdHeaderCellDef> Price </md-header-cell>
            <md-cell *mdCellDef="let element"> {{element.price}} </md-cell>
        </ng-container>

        <ng-container mdColumnDef="func">
            <md-header-cell *mdHeaderCellDef> </md-header-cell>
            <md-cell *mdCellDef="let element">
                <a [routerLink]="['/items/edit', element.guid]">edit</a>
            </md-cell>
        </ng-container>

        <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
        <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
    </md-table>
</div>